/* You can add global styles to this file, and also import other style files */
@use 'styles/fonts';
@use 'styles/layout';
@use 'styles/primeng';
@use 'styles/typography';
@import 'primeicons/primeicons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--p-font-family);
}